* {
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	background-color: #eebb44;
}

.col-4 {
	text-align: left;
}

.col-12 {
	text-align: left;
}

.img {
	border: 1px solid lightgray;
}